@model System.Collections.Generic.IEnumerable<Saguaro.Logging.TableEntities.LogByActivityTableEntity>

@{
    Layout = null;
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Users</title>
</head>
<body>
    <div>
        @foreach(var log in Model)
        {
            <h3>@log.UserName</h3>
            <div>@log.Email</div>
            <div>@TimeZoneInfo.ConvertTimeFromUtc(log.Timestamp, TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time"))</div>
            <div>@log.ActivityType</div>
            <div>@log.Company</div>
            <div>@log.IPAddress</div>
            if(log.ActivityType == "download")
            {
                <div>Filename: @log.Description</div>
            }
            <hr />
        }
    </div>
</body>
</html>

